.aboutSection {
  background-color: var(--secondary);

  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));

    @media (min-width: 720px) and (max-width: 846px) {
      grid-template-columns: repeat(auto-fit, minmax(423px, 1fr));
    }

    @media (min-width: 1080px) {
      grid-template-columns: repeat(2, 1fr);
    }

    .card {
      height: 720px;
      box-sizing: border-box;
    }

    .aboutSectionTitle {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 48px;
      color: var(--primary);
      text-transform: uppercase;
      display: flex;
      align-items: center;
      //max-width: 415px;
      //width: 100%;
      gap: clamp(16px, 5vw, 32px);
      text-align: center;
    }

    .imageBox {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (min-width: 720px) and (max-width: 846px) {
        height: 600px !important;
      }

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .contentBox {
      background: var(--secondary);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 48px;

      .descriptionBox {
        padding: 0 20px;
        max-width: 592px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        box-sizing: border-box;
      }

      .description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: -0.02em;
        color: var(--primary);
      }
    }

    .formBox {
      background-color: var(--background);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      box-sizing: border-box;
      flex-direction: column;
      min-width: 360px;
      width: 100%;
      gap: 48px;
      //
      //.formContent {
      //  display: flex;
      //  flex-direction: column;
      //  align-items: center;
      //  max-width: 374px;
      //  width: 100%;
      //  gap: 48px;

      .form {
        display: flex;
        flex-direction: column;
        max-width: 374px;
        width: 100%;
        gap: 48px;
        align-items: center;

        .inputBox {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 16px;

          .errorBox {
            display: flex;
            gap: 12px;
            justify-content: center;
            align-items: center;

            .errorText {
              font-family: var(--font-family);
              font-weight: 400;
              font-size: 16px;
              line-height: 150%;
              letter-spacing: -0.02em;
              color: var(--accent);
            }
          }

          .successText {
            text-align: center;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            letter-spacing: -0.02em;
            color: darkolivegreen;
          }

          .input {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 18px;
            line-height: 156%;
            letter-spacing: -0.02em;
            border: 1px solid var(--secondary-a50);
            border-radius: 99px;
            padding: 10px 24px;
            max-width: 374px;
            width: 100%;
            height: 60px;
            box-sizing: border-box;
            background: var(--primary);
          }
        }

        .privacyText {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: -0.02em;
          color: var(--secondary);
          text-align: center;
        }

        .submitBtn {
          display: flex;
          gap: 12px;
          align-items: center;
          border-radius: 99px;
          padding: 20px 28px;
          width: fit-content;
          height: 64px;
          cursor: pointer;
          text-align: center;
          background: var(--accent);
          border: none;
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 20px;
          line-height: 120%;
          letter-spacing: -0.02em;
          color: var(--primary);
        }
      }
    }
  }
}

@media (max-width: 1070px) {
  .aboutSectionTitle {
    font-size: 40px !important;
  }

  .formTitle {
    gap: clamp(0px, 5vw, 12px) !important;
  }
}

@media (max-width: 860px) {
  .aboutSectionTitle {
    //max-width: 380px !important;
    font-size: 36px !important;
  }

  .card {
    min-height: 500px !important;
    max-height: 860px !important;
    height: auto !important;
  }

  .contentBox {
    padding: 30px 0 !important;
  }

  .formBox {
    padding: 30px 20px !important;

    .submitBtn {
      font-size: 16px !important;
      padding: 12px 20px !important;
    }
  }
}

@media (max-width: 719px) {
  .imageBox {
    height: 420px !important;
  }
}
