.sliderSection {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  height: 777px;

  .sliderSectionTitle {
    box-sizing: border-box;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    color: var(--secondary);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    //max-width: 438px;
    //width: 100%;
    gap: clamp(16px, 5vw, 32px);
  }

  .carousel {
    width: 100%;
    user-select: none;
    overflow: visible;

    > div {
      overflow-y: visible !important;
      overflow-x: clip;

      > div {
        overflow-y: visible !important;
        overflow-x: clip;
      }
    }

    .slide {
      position: relative;

      &.centerSlide {
        border-radius: 48px;
        min-width: 360px;
        height: 452px;
        opacity: 1;
        z-index: 2;
        transform: translate(-50%, 0);
        left: 50%;
      }

      &.sideSlide {
        border-radius: 48px;
        width: 100%;
        height: 390px;
        opacity: 0.6;
        z-index: 1;
        top: 33.5px;

        .sliderImage {
          scale: 0.9;
        }
      }

      .sliderImage {
        object-fit: cover;
        border-radius: 48px;
      }
    }
  }

  .carouselBtns {
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;

    //.viewAllButton {
    //  display: flex;
    //  justify-content: center;
    //  align-items: center;
    //  border-radius: 99px;
    //  padding: 20px 28px;
    //  width: 145px;
    //  height: 64px;
    //  font-family: var(--font-family);
    //  font-weight: 400;
    //  font-size: 20px;
    //  line-height: 120%;
    //  letter-spacing: -0.02em;
    //  color: var(--primary);
    //  border: none;
    //  background-color: var(--accent);
    //  cursor: pointer;
    //}

    .navButton {
      border-radius: 99px;
      width: 64px;
      height: 64px;
      background: var(--accent);
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

@media (max-width: 860px) {
  .sliderSectionTitle {
    padding: 0 10px;
    max-width: 380px !important;
    font-size: 36px !important;
  }
}
