.heroSection {
  position: relative;
  width: 100%;
  height: 720px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .heroSectionImage {
    //position: absolute; // this and below
    //width: 100%; // instead of fill
    object-position: center;
    object-fit: cover;
    min-height: 720px;
    max-height: 720px;
    user-select: none;
  }

  .heroSectionBox {
    position: absolute;
    top: 106px;
    left: 80px;
    height: 376px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;

    .qualityStars {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 258px;
      height: 32px;

      .qualityText {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 156%;
        letter-spacing: -0.02em;
        color: var(--primary);
      }
    }

    .heroSectionContent {
      color: white;
      display: flex;
      flex-direction: column;
      gap: 48px;

      .heroSectionContentTitle {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 80px;
        line-height: 115%;
        letter-spacing: -0.02em;
        color: var(--primary);
      }
    }
  }

  .reviewBox {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 132px;
    display: flex;
    padding: 20px 196px 20px 80px;
    box-sizing: border-box;

    .imageMessageBox {
      //max-width: 610px;
      width: 100%;
      display: flex;
      //justify-content: space-between;
      align-items: center;
      gap: 20px;

      .imageBox {
        display: flex;
        //justify-content: space-between;
        align-items: center;
        min-width: 160px;
        //max-width: 190px;
        //width: 100%;
        gap: 16px;

        .reviewImage {
          border-radius: 99px;
          width: 48px;
          height: 48px;
        }

        .nameText {
          font-family: var(--font-family);
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: -0.02em;
          color: var(--primary);
        }

        .dateText {
          font-family: var(--font-family);
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          letter-spacing: -0.02em;
          color: var(--primary-a50);
        }
      }

      .messageText {
        width: 100%;
        //height: 48px;
        max-width: 500px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: var(--primary);
        box-sizing: border-box;
      }
    }

    .logoBox {
      position: absolute;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--background);
    }
  }
}

.actionButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 99px;
  padding: 20px 28px;
  width: 224px;
  height: 64px;
  background: var(--accent);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--primary);
}

.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 860px) {
  .heroSection {
    height: 564px !important;

    .heroSectionImage {
      min-height: 564px !important;
    }
  }

  .heroSectionBox {
    top: 86px !important;
    height: 274px !important;
    left: 16px !important;

    .heroSectionContent {
      gap: 28px !important;
    }
  }

  .heroSectionContentTitle {
    font-size: 52px !important;
  }

  .actionButton {
    width: 175px !important;
    height: 48px !important;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    padding: 12px 20px !important;
  }

  .reviewBox {
    height: 200px !important;
    max-height: 200px;
    padding-left: 16px !important;
    padding-right: 122px !important;
    padding-bottom: 12px !important;

    .messageText {
      height: fit-content !important;
      padding: 0 !important;
    }

    .imageMessageBox {
      flex-direction: column;
      justify-content: flex-end !important;
      align-items: self-start !important;
      gap: 16px !important;
      width: fit-content !important;
    }
  }
}

@media (max-width: 640px) {
  .heroSectionBox {
    height: 224px !important;

    .heroSectionContent {
      gap: 24px !important;
    }
  }

  .heroSectionContentTitle {
    font-size: 32px !important;
  }
}
