//.slidingSystemsSection {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  width: 100%;
//  background: var(--primary);
//  padding: 48px 80px;
//  box-sizing: border-box;
//  gap: 48px;

.typeGallerySectionTitle {
  gap: clamp(16px, 5vw, 32px);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 48px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: var(--secondary);
  display: flex;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.description {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--secondary);
}

.typeGalleryCard {
  border-radius: 48px;
  width: 100%;
  min-height: 480px;
  background: var(--white);
  display: flex;
  justify-content: center;
  overflow: hidden;

  .typeGalleryCardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px 40px;
    width: 50%;
    box-sizing: border-box;
    gap: clamp(16px, 5vw, 26px);
    border-right: 1px solid var(--background);

    @media (min-width: 861px) and (max-width: 1024px) {
      padding: 16px 24px;
      gap: clamp(16px, 5vw, 24px);
    }

    .typeGalleryCardTitle {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 42px; //48px
      line-height: 133%;
      letter-spacing: -0.02em;
      color: var(--secondary);

      @media (min-width: 1240px) {
        font-size: 48px;
      }

      @media (max-width: 940px) {
        font-size: 36px;
      }
    }

    .typeGalleryCardDescription {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: -0.02em;
      color: var(--secondary);
    }
  }

  .typeGalleryCardGallery {
    width: 50%;
    min-height: 480px;

    @media (max-width: 500px) {
      min-height: auto !important;
      height: 258px !important;

      .typeGalleryCardGalleryImageBox,
      .typeGalleryCardGalleryImage {
        height: 258px !important;
      }
    }

    @media (min-width: 501px) and (max-width: 600px) {
      height: 300px !important;
      min-height: auto !important;

      .typeGalleryCardGalleryImageBox,
      .typeGalleryCardGalleryImage {
        height: 300px !important;
      }
    }

    @media (min-width: 601px) and (max-width: 720px) {
      height: 400px !important;
      min-height: auto !important;

      .typeGalleryCardGalleryImageBox,
      .typeGalleryCardGalleryImage {
        height: 400px !important;
      }
    }

    @media (min-width: 721px) and (max-width: 860px) {
      height: 450px !important;
      min-height: auto !important;

      .typeGalleryCardGalleryImageBox,
      .typeGalleryCardGalleryImage {
        height: 450px !important;
      }
    }

    .nextButton,
    .prevButton {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      color: #fff;
      border: none;
      border-radius: 99px;
      width: 52px;
      height: 52px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      backdrop-filter: blur(40px);
      background: rgba(0, 0, 0, 0.4);

      &:hover {
        background: rgba(0, 0, 0, 0.8);
      }
    }

    .nextButton {
      right: 24px;
    }

    .prevButton {
      left: 24px;
    }

    .typeGalleryCardGalleryImageBox {
      width: 100%;
      height: 480px;
      position: relative;
    }

    .typeGalleryCardGalleryImage {
      width: 100%;
      height: 480px;
      object-fit: contain;
    }
  }
}

@media (max-width: 860px) {
  //.slidingSystemsSection {
  //  padding: 24px 16px !important;
  //  width: fit-content !important;

  .typeGallerySectionTitle {
    //max-width: 307px !important;
    font-size: 36px !important;
  }

  .typeGalleryCard {
    align-items: center;
    flex-direction: column-reverse;
    height: fit-content !important;

    .typeGalleryCardDescription {
      font-size: 16px !important;
    }

    .typeGalleryCardContent,
    .typeGalleryCardGallery {
      width: 100% !important;
    }

    .typeGalleryCardContent {
      padding: 24px !important;
      border-top: 1px solid var(--background);
      border-right: none;
    }
  }
}
